/* header */
header{
    margin: 0 auto;
    width: 1440px;
    background-color:  #2A9D8F;
    ;
   
    
}

.logo{
    vertical-align: middle;
    padding: 38px 130px;

   
}

/* nav. bar */
nav{
    
    display: inline-block;
    vertical-align: middle;
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    margin-left: 357px;
     
}

li{

 display: inline-block;
color:  #FFFFFF;;
    
    

}
.post{
   margin-inline: 51px;
}

button{
    margin-left: 357px;
    vertical-align: middle;
    
}

/* article */
article{
    padding: 200px 330px;
    width: 1440px;
    margin: 0 auto;

}

.h1{
    font-size: 48px;
    font-weight: 500;
    margin-bottom: 60px;
}

.p1{
    margin-bottom: 52px;
    font-size: 20px;
    font-weight: 400;
}
.p2{
    font-size: 20px;
    font-weight: 400;

}
